<!DOCTYPE html>
<html>

  <head>
    <script type="text/javascript" src="http://youzikuwebfont.oss-cn-beijing.aliyuncs.com/api.lib.min.js"></script>

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Bloggy1ff : ">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Bloggy1ff</title>
  </head>

  <body>
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/AisLiao/Bloggy1ff">View on GitHub</a>

          <h1 id="project_title">KHAWER爱吃饼干22222</h1>
          <h1 id="project_title2">KHAWER爱爱爱吃饼干</h1>
          <h1 style="font-family:'winmantun230019bfcf9ed4554';" >Khawer吃饼干!!!!!</h1>

          <h2 id="project_tagline"></h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/AisLiao/Bloggy1ff/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/AisLiao/Bloggy1ff/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>
      {{content}}
      <script type="text/javascript">
    $youzikuapi.asyncLoad("http://api.youziku.com/webfont/FastJS/yzk_CEC448CE0B40CA1A", function () {
    $youziku.load("project_title2", "f3907d43d52241e1887fabe4e7d6d203", "minijianyaya");
  /*$youziku.load("#id2", "f3907d43d52241e1887fabe4e7d6d203", "minijianyaya");*/
  /*$youziku.load(".class1", "f3907d43d52241e1887fabe4e7d6d203", "minijianyaya");*/
  /*$youziku.load(".class2", "f3907d43d52241e1887fabe4e7d6d203", "minijianyaya");*/
  /*．．．*/
    $youziku.draw();
    })
  </script>


  </body>
  </html>
